body {
	font-weight: normal;
	font-style: normal;
	color: #337ab7;
	margin: 0;
	padding: 0;
	text-align: left;
}


#mainArea {
	width: 450px; 
	#height: 60%; 
	margin-top: 60px; 
	margin-left: auto; 
	margin-right: auto; 
	text-align: center; 
	background-color: white;
	border-style: solid;
	border-radius: 50px;
	padding: 10 11 39 14;
	display: block;
}


textarea { 
	width: 25%; 
	margin-left: 0;
	visibility: hidden;
}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}

.stretch {
    width:100%;
    height:100%;
}